## **Nama** : Farah Aulia <br>
## **NIM** : 18222096

# Scraping Data

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
table = soup.find_all('table')[1]

In [4]:
world_titles = table.find_all('th')

In [5]:
world_table_titles = [title.text.strip() for title in world_titles]

print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(columns = world_table_titles)

df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [8]:
column_data = table.find_all('tr')

In [9]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [10]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

# Preprocessing Data
<br>
1. Menghapus tanda kutip pada angka di kolom Revenue (USD millions) dan Employees. <br>
2. Mengubah tipe data pada kolom Revenue (USD millions), Revenue growth, dan Employees ke tipe data yang sesuai. <br>
3. Memisahkan kota dan negara bagian di kolom Headquarters menjadi dua kolom terpisah.

In [11]:
df['Revenue (USD millions)'] = df['Revenue (USD millions)'].astype(str)
df['Revenue growth'] = df['Revenue growth'].astype(str)
df['Employees'] = df['Employees'].astype(str)
df['Headquarters'] = df['Headquarters'].astype(str)

In [12]:
#1. Hapus tanda koma dan ubah ke float untuk tabel Revenue
df['Revenue (USD millions)'] = df['Revenue (USD millions)'].astype(str).str.replace(',', '')
df['Revenue (USD millions)'] = df['Revenue (USD millions)'].astype(float)

In [13]:
# 2. Hapus tanda persen dan ubah tipe data pada kolom `Revenue growth`
df['Revenue growth'] = df['Revenue growth'].astype(str).str.rstrip('%').astype(float)

In [14]:
# 3. Hapus tanda koma dan ubah ke int untuk tabel Employees
df['Employees'] = df['Employees'].astype(str).str.replace(',', '')
df['Employees'] = df['Employees'].str.extract('(\d+)').astype(int)

In [15]:
# 4. Pisahkan kolom `Headquarters` menjadi dua kolom: `City` dan `State`
df[['City', 'State']] = df['Headquarters'].str.split(', ', n=1, expand=True)
df = df.drop(columns=['Headquarters'])

In [16]:
# Menampilkan DataFrame hasil preprocessing
print(df)

   Rank                      Name                    Industry  \
0     1                   Walmart                      Retail
1     2                    Amazon  Retail and cloud computing
2     3                ExxonMobil          Petroleum industry
3     4                     Apple        Electronics industry
4     5        UnitedHealth Group                  Healthcare
..  ...                       ...                         ...
95   96                  Best Buy                      Retail
96   97      Bristol-Myers Squibb     Pharmaceutical industry
97   98           United Airlines                     Airline
98   99  Thermo Fisher Scientific      Laboratory instruments
99  100                  Qualcomm                  Technology

    Revenue (USD millions)  Revenue growth  Employees           City  \
0                 611289.0             6.7    2100000    Bentonville
1                 513983.0             9.4    1540000        Seattle
2                 413680.0            44.8      62000         Spring
3                 394328.0             7.8     164000      Cupertino
4                 324162.0            12.7     400000     Minnetonka
..                     ...             ...        ...            ...
95                 46298.0            10.6      71100      Richfield
96                 46159.0             0.5      34300  New York City
97                 44955.0            82.5      92795        Chicago
98                 44915.0            14.5     130000        Waltham
99                 44200.0            31.7      51000      San Diego

            State
0        Arkansas
1      Washington
2           Texas
3      California
4       Minnesota
..            ...
95      Minnesota
96       New York
97       Illinois
98  Massachusetts
99     California

[100 rows x 8 columns]

In [17]:
from google.colab import files

In [18]:
#Unduh Data File JSON
df.to_json('Companies.json', orient='records', lines=False, indent=4)

files.download('Companies.json')